@font-face {
  font-family: Tenor-Sans;
  src: url('./assets/fonts/TenorSans-Regular.ttf');
}

@font-face {
  font-family: Y14.5M;
  src: url('./assets/fonts/Y14.5M.ttf');
}

@font-face {
  font-family: Nunito;
  src: url('./assets/fonts/Nunito-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Nunito;
  src: url('./assets/fonts/Nunito-SemiBold.ttf');
  font-weight: 600;
}

:root {
  --background-color: #525659;
  --cv-color: #f0f0f0;
  --text-color: #4c4c4c;
  --dividers-color: #e5e5e5;
  --content-padding: 0 60px;
  --logo-dimension: 35px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

a:hover {
  text-decoration: underline;
}

/* Header styles */

header {
  display: flex;
  justify-content: space-between;
  padding: var(--content-padding);
}

#name-and-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}

#name {
  font-family: 'Tenor-Sans', sans-serif;
}

h2 {
  font-family: 'Y14.5M', sans-serif;
}

.cv-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px auto 0;
  width: 800px;
  min-height: 100%;
  background-color: var(--cv-color);
}

#avatar {
  max-width: 200px;
  max-height: 200px;
}

/* Navigation menu styles */

nav {
  padding: 5px 0;
  margin-bottom: 20px;
  border: 4px solid var(--dividers-color);
  border-right: none;
  border-left: none;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}

/* Main section styles */

main {
  flex: auto;
  margin-bottom: 20px;
}

.sections-wrapper {
  display: grid;
  grid-template-columns: 190px auto;
  column-gap: 40px;
  row-gap: 20px;
  padding: var(--content-padding);
}

section {
  font: 12px 'Nunito', sans-serif;
}

.section-name {
  position: relative;
  width: max-content;
  margin-bottom: 15px;
}

#about > .section-name::after {
  content: '';
  position: absolute;
  left: 0;
  top: 110%;
  width: 100%;
  border-bottom: 2px solid var(--dividers-color);
}

.contact-item {
  display: flex;
  align-items: center;
}

.contact-item > i {
  padding-right: 5px;
}

p {
  text-align: justify;
}

.skill-category {
  margin: 5px 0 5px;
  font-weight: 600;
}

.skill-category > span {
  padding-left: 5px;
  font-weight: normal;
}

.code-description {
  font-weight: 600;
}

/* Footer styles */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--content-padding);
  padding-top: 15px;
  padding-bottom: 7px;
  font: 700 12px 'Nunito', sans-serif;
  color: var(--text-color);
  background-color: var(--dividers-color);
}

.github-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.github-link > span {
  color: black;
}

#github-logo {
  max-width: var(--logo-dimension);
  max-height: var(--logo-dimension);
}

.github-link:hover {
  color: var(--background-color);
  text-decoration: none;
}

.github-link:hover > #github-logo > g {
  fill: var(--background-color);
}

.rsschool-link {
  max-height: var(--logo-dimension);
  width: 100px;
}

.rsschool-link:hover > #rsschool-logo path {
  fill: var(--background-color);
}

#rsschool-logo ellipse {
  fill: var(--cv-color);
}

@media (max-width: 800px) {
  :root {
    --content-padding: 0 30px;
  }

  .cv-wrapper,
  footer {
    width: 100vw;
  }

  .sections-wrapper {
    grid-template-columns: auto;
    justify-content: center;
  }
}

@media (max-width: 620px) {
  :root {
    --content-padding: 0 10px;
    --logo-dimension: 20px;
  }

  nav {
    font-size: 0.7em;
  }

  pre {
    font-size: 0.8em;
  }

  header {
    font-size: 0.6em;
  }

  #avatar {
    max-width: 150px;
    max-height: 150px;
  }

  .rsschool-link {
    width: 50px;
  }
}
